/* CSS styles for LJ Profile */

/* background for the entire page */
body {
    background-color: #603140;
}
/* font for the entire main */
main {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* formatting for elements to make the appear better */
h1 {
    font-family: cursive, sans-serif;
    text-align: center;
    color: #C7AA74;
}

nav {
    font-size: larger;
    background-color: #C7AA74;
    height: 20px;
    padding: 20px;
    text-align: center;
}

ul,
ol {
    display: inline-block;
    text-align: left;
}
/* pseudo-class formatting for links */
a:link{
    color: #003F91;
}
a:visited {
    color: #000;
}

a:hover {
    color: #603140;
}

img {
    height: 50%;
    width: 50%;
    border-radius: 20%;
    padding: 10px;

}

h2 {
    color: #363035;
}

h3 {
    color: #413A40;
}

footer {
    font-size: 12px;
    text-align: center;
    color: #C7AA74;
    font-family: cursive, sans-serif;
}

hr {
    background-color: #B4B8C5;

}

section {
    margin: 20px;
    padding: 20px;
    background-color: #C7AA74;


}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
